
* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.navbar {
    background-color:#333;
    padding:20px;
    
}

.menu {
    display:flex;
    flex-direction: column;
    gap:15px;
}

.menu a {
    color :white;
    padding: 10px;
    background-color: #555;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

@media (min-width:768px) {
    .menu {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width:1024px ){
    .menu {
        justify-content: flex-end;
    }
}

