* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    padding:40px;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.card {
    background-color: white; 
    padding:30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
    text-align: center;
    flex: 1 1 100%;
}

.card h2 {
 margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

.card button {
    padding: 10px 20px;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .pricing-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        flex: 1 1 45%;
    }
}

@media (min-width: 1024px) {
    .card {
        flex:1 1 30%;
    }
}